<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: black;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: green;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        h1, p{
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Email sent successfully!</h1>
        <p style="text-align: center">Tez orada javob olasiz ...</p>
    </div>
        <a href="../../contact" style="color: white">
            <button class="btn back-to-top" style="margin-left: 770px; margin-top: 500px; width: 100px; height: 33px">
                Back Home
            </button>
        </a>
</body>
</html>
